a{
    color:#A22918;
}

table{
    margin-left: auto;
    margin-right: auto;

    border: 2px black solid;
}

tbody{
    border: 1px black solid;

    font-family: "ABeeZee", sans-serif;
}

th{
    border: 1px black solid;
    padding: 0.7em 1.25em 0.7em 1.25em;
    font-weight: normal;
}

.paragraph {
    p {
        margin: 2em 0 2em 0;
    }
}

li{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
